<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Orkut 2.0</title>
</head>
<body>

    <nav>
        <div class="wrapper">
            <a href="/postar">Postar</a>
            <a href="/posts">Meus Posts</a>
            <a href="/depoimentos">Depoimentos</a>
            <a href="/listar/usuarios">Usuarios</a>
        </div>
        <div class="wrapper">
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <main>
        <div>
            <div class="posts">
                <h1 id="Titulo">Olá {{ user['nome']}}</h1>
                <h3>Aqui estão seus Posts</h3>
                
                {% for post in posts %}
                    <div class="post">

                        <div class="post-header">

                            <div>
                                <p>#{{ post.id }}</p>
                            </div>
                            
                            <div>
                                <div class="time">
                                    <p>{{ post.criado_em.strftime("%d/%m/%Y") }}</p>
                                    <p>{{ post.criado_em.strftime("%H:%M") }}</p>
                                </div>
                            </div>

                            <button class="delete-btn" data-id="{{ post.id }}">
                                <i class="ph ph-trash"></i>
                            </button>
                        </div>

                        <pre class="content">{{ post.conteudo }}</pre>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script>
        const deleteButtons = document.querySelectorAll(".delete-btn");

        deleteButtons.forEach(button => {
            button.addEventListener("click", () => {
                const id = button.dataset.id;

                if (id && confirm("Tem certeza?")) {
                    fetch(`/post/${id}`, { method: 'DELETE' })
                        .then(resp => resp.json())
                        .then(json => console.log(json))
                        .then(() => document.location.reload());
                }
            });
        });
    </script>
</body>
</html>
